.shifts-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.shifts-container .shift-form {
  flex: 0.25; /* this will take up 30% of the total width */
  margin-right: 20px; /* this will add a small gap on the right side */
}

.shifts-container .shifts-table {
  flex: 0.75; /* this will take up 70% of the total width */
}
